@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*{
	margin: 0;
  padding: 0;
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--bg-color);
  font-family: "Bebas Neue", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font: #fffff0;
  --bg-color: #030e0a;
  --inpt-bg: #98a18c;
  --inpt-font: #c5cab4;
}

.inspecionar {
  border: red solid 1px;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

